.panel-body{
    border: 10px;
  
  }
  .pp {
    font-family: 'Courier Prime', monospace;
  }
  
  search-form{
    padding-top: 60px;
  }
  .ppp {
    text-align: center;
  }
  .pipe {
    font-size:20px;
    color:pink;
  }
  .login{
    font-size:40px;
    font-family: 'Cherry Bomb', cursive;
  }
  
  