<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Git-Search</title>
  </head>
  <body>
    <h1>Git-Search</h1>
    <form action="" class="search-form"(ngSubmit)='findProfile()'>
      <div class="form-group" >
        <input type="text" class="form-control" placeholder="Search github user" [(ngModel)]="username" name="username">
        <button type="submit" class="btn btn-primary">SEARCH</button>
      </div>
    </form>
    <div *ngIf= 'profile'>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div>
              <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image">
              <p class="login">{{profile.login}}</p>
             
              </div>
            <div class="col-sm-5">
              
              
            </div>
            <!-- <div class="col-sm-4"> -->

            
              <div class="">
                <div>
                  <h3 ><u>Repos</u></h3>
                </div>
                <div class="" *ngFor="let repo of repos ">
                  <div class="card text-white bg-dark m-3" >

                  <p class="card-header ppp" style="color:white" >
                    {{repo.name}}<br><a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-outline-info">View repo on github</a>
                  </p>
                  <p class="card-body pp p-3"> {{repo.description}}</p>
                  <p class='pipe'>Created on :{{repo.created_at|date}}</p>
                </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
  </body>
</html>

